---
import BaseHead from '../components/BaseHead.astro'
import BaseHeader from '../components/BaseHeader.astro'

const meta = {
    title: 'other title',
    description: 'other description'
}
---
<html lang="en">
    <head>
        <BaseHead {...meta}/>
    </head>
    <body>
        <header class="px-6 py-9 mx-auto max-w-7xl flex flex-row">
            <BaseHeader />
        </header>
        <main class="max-w-6xl mx-auto">
            <h1>Hello!</h1>
        </main>
        <footer></footer>
    </body>
</html>