---
import site from "../site.config.json";
---

<div>
  <a alt="Home" href="/" class="site-title">{site.title}</a>
  <nav>
    <ul>
      {site.navigation.map((navItem) => (
        <li>
          <a href={navItem.link}>{navItem.name}</a>
        </li>
      ))}
    </ul>
  </nav>
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    align-items: center;
    min-height: 4rem;
  }

  .site-title {
    font-size: 1.625rem;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: -0.05em;
    flex-basis: 50%;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    flex-basis: 50%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.25rem;
  }
</style>
