---
import site from "../site.config.json";
const pages = Astro.fetchContent("../pages/*.md");
---

<div>
  <a alt="Home" href="/" class="site-title">{site.title}</a>
  <nav>
    <ul>
      {pages
        .filter((page) => page.url !== "" && page.url !== "/404")
        .sort((a, b) => a.navOrder - b.navOrder)
        .map((page) => (
          <li>
            <a href={page.url}>{page.title}</a>
          </li>
        ))}
    </ul>
  </nav>
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    align-items: center;
    min-height: 4rem;
  }

  .site-title {
    font-size: 1.625rem;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: -0.05em;
    flex-basis: 50%;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    flex-basis: 50%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.25rem;
  }
</style>
