---
import BaseHead from "@/components/BaseHead.astro";
import BaseHeader from "@/components/BaseHeader.astro";
import BaseFooter from "@/components/BaseFooter.astro";

const { content } = Astro.props;

const meta = {
  title: content.title,
  description: content.description,
  imageSrc: content.imageSrc,
  imageType: content.imageType,
  imageAlt: content.imageAlt,
  imageWidth: content.imageWidth,
  imageHeight: content.imageHeight,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...meta} />
  </head>
  <body>
    <header>
      <BaseHeader />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <BaseFooter />
    </footer>
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  header {
    border-bottom: 1px solid gray;
  }

  main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  main :global(h1) {
    font-size: 5rem;
  }

  main :global(a) {
    color: blue;
  }

  main :global(a:hover) {
    color: black;
    text-decoration: underline;
  }

  footer {
    border-top: 1px solid gray;
  }
</style>
